global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # The job name is added as a label job=job_name to anu timeseries scraped from this config
  - job_name: 'prometheus_metrics'
  # metrics defaults to /metrics scheme defaults to http
    static_configs:
      -  targets: ['localhost:9090']